@import "reset.css";
@import "tags.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "table.css";
* {
  align-items: center;
}
body {
  padding: 30px 490px;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Lobster", cursive;
  border-bottom: 2px solid grey;
  padding: 0px 0px 20px 0px;
}
.search-bar input {
  border: 2px solid grey;
  width: 300px;
  height: 30px;
  font-size: 25px;
  border-radius: 7px;
  text-align: center;
}
.search-bar input:focus::placeholder {
  color: white;
}
.search-bar input::placeholder {
  color: rgba(128, 128, 128, 0.7);
}
[class*="fas"] {
  cursor: pointer;
  padding-right: 10px;
}

header {
  padding: 20px;
}
header img {
  width: 300px;
  height: 250px;
  border-radius: 40%;
  float: left;
}
.header__fisrt-line {
  display: flex;
  padding-left: 70px;
}

.name {
  font-family: "Prata", serif;
  font-size: 40px;
}
header input {
  margin-left: 30px;
}
header input:hover {
  background-color: skyblue;
}

p {
  padding-top: 20px;
  padding-left: 330px;
  font-family: "Prata", serif;
  font-size: 20px;
  line-height: 25px;
}

header input {
  background-color: black;
  border: black;
  border-radius: 6px;
  color: white;
}
header input:hover {
  cursor: pointer;
}
